<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gmk.gmkandroid"
    >

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name="com.gmk.gmkandroid.GmkApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/Theme.App.NoActionBar"
      >

    <activity
        android:name=".ui.activity.MainActivity"
        >
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.DEFAULT"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".ui.activity.SearchActivity"
        android:parentActivityName=".ui.activity.MainActivity"
        android:theme="@style/Theme.App"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.activity.MainActivity"
          />
    </activity>

    <activity
        android:name=".ui.activity.SearchResultsActivity"
        android:parentActivityName=".ui.activity.SearchActivity"
        android:theme="@style/Theme.App"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.activity.SearchActivity"
          />
    </activity>

    <activity
        android:name=".ui.activity.PlaceActivity"
        android:parentActivityName=".ui.activity.SearchResultsActivity"
        >
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value=".ui.activity.SearchResultsActivity"
          />
    </activity>
  </application>

</manifest>
